<launch>
    <!-- Model argument with default value -->
    <arg name="model_name" default="resnet50_v0" />

    <!-- Launch the NozzleNet node -->
    <node name="nozzle_net_node" pkg="compact_nozzle_net_pkg" type="nozzle_net_node.py" output="screen">
        <param name="model_name" value="$(arg model_name)" />
    </node>
</launch>
